<h2>Create an Author</h2>


<% if @author.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@author) do |f| %>
  <div class="field">
    <%= f.label :name, 'Author Name:' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, 'Author Email:' %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number, 'Phone Number:' %><br>
    <%= f.telephone_field :phone_number %>
  </div>

  <div class="actions">
    <%= f.submit %>

<% end %>
